Repository JuZiSang/blog: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Server, Build Client

Jenkinsfile:

pipeline {
    agent any

    tools { 
        nodejs 'nodejs-12.19.0' 
    }

    environment {
        TYPE = ''
    }
    
    stages {
        stage('Build Server') { 
            when {
                changeset '/server/*.*'
            }
            steps {
                TYPE = 'Server'
                dir('/server') {
                    sh 'yarn install' 
                    sh 'yarn build' 
                }
            }
        }
        stage('Build Client') { 
            when {
                changeset '/client/*.*'
            }
            steps {
                TYPE = 'Client'
                dir('/client') {
                    sh 'yarn install' 
                    sh 'yarn build'
                }
            }
        }
    }
    post {
        always {
            echo 'Build ${TYPE} finish'
        }
    }
}

ci: ci change
  Jenkinsfile
Due: none

ci: ci
  Jenkinsfile
  server/.env.simple
  server/ecosystem.config.js
  server/src/app.module.ts
Due: Build Server

ci: change
  Jenkinsfile
  server/package.json
  server/yarn.lock
Due: Build Server

ci: 测试
  server/README.md
Due: Build Server

ci: test
  server/README.md
Due: Build Server

ci: test
  client/README.md
Due: Build Client

ci: test
  admin/README.md
Due: none

perf: 删除不需要的配置文件
  Jenkinsfile
  server/.vscode/settings.json
Due: none

perf: 更新nest版本
  server/yarn.lock
Due: Build Server

server deploy
  .github/workflows/blog-backend-deploy.yml
  server/Dockerfile
Due: none

修正部署文件
  .github/workflows/blog-backend-deploy.yml
Due: none

改为npm源，防止打包机超时失败
  server/yarn.lock
Due: Build Server

ci: 修正 get-package-version 路径不对的问题
  .github/workflows/blog-backend-deploy.yml
Due: none

ci: docker build context path
  .github/workflows/blog-backend-deploy.yml
Due: none

ci: github-action-ssh 字段填写错误
  .github/workflows/blog-backend-deploy.yml
Due: none

ci: 优化 docker image 大小
  .github/workflows/blog-backend-deploy.yml
Due: none

ci: 部署配置
  .github/workflows/blog-backend-deploy.yml
Due: none

ci: 删除 yarn
  .github/workflows/blog-backend-deploy.yml
Due: none

ci: 删除 yarn
  server/Dockerfile
Due: none

ci: 加入 npm lock 文件
  server/Dockerfile
Due: none

perf: 设置路由前缀
  server/src/main.ts
Due: none

perf: 网关设置了 api 转发
  server/src/app.module.ts
  server/src/main.ts
Due: none

perf: 加上 api 前缀
  server/src/main.ts
Due: none

ci: 主分支docker stack带上版本
  .github/workflows/blog-backend-deploy.yml
Due: none

perf: 优化 tag category 请求路径
  server/src/controller/category.controller.ts
  server/src/controller/tag.controller.ts
Due: none

ci: docker image 版本改为 git sha
  .github/workflows/blog-backend-deploy.yml
Due: none

ci: docker 推送 latest 标签
  .github/workflows/blog-backend-deploy.yml
Due: none

ci: 版本改为 1.0.0
  server/package.json
Due: Build Server

ci: 修复配置
  .github/workflows/blog-backend-deploy.yml
Due: none

ci: 根据环境变量设置版本号
  .github/workflows/blog-backend-deploy.yml
Due: none

feat: 文章api
  server/src/app.dto.ts
  server/src/app.module.ts
  server/src/controller/article.controller.ts
  server/src/controller/options.controller.ts
  server/src/entity/article.entity.ts
  server/src/entity/article_meta_relation.entity.ts
  server/src/entity/options.entity.ts
  server/src/entity/user.entity.ts
  server/src/service/article.service.ts
  server/src/service/options.service.ts
Due: none

ci: 监听test分支
  .github/workflows/blog-backend-deploy.yml
Due: none

ci: 监听test分支部署服务器
  .github/workflows/blog-backend-deploy.yml
Due: none

feat: 文章接口
  .github/workflows/blog-backend-deploy.yml
  server/package-lock.json
  server/package.json
  server/src/app.dto.ts
  server/src/controller/article.controller.ts
  server/src/controller/category.controller.ts
  server/src/controller/options.controller.ts
  server/src/controller/tag.controller.ts
  server/src/entity/article.entity.ts
  server/src/entity/article_meta_relation.entity.ts
  server/src/entity/base.entity.ts
  server/src/entity/meta.entity.ts
  server/src/entity/options.entity.ts
  server/src/entity/user.entity.ts
  server/src/service/article.service.ts
  server/src/service/meta.service.ts
  server/src/service/options.service.ts
  server/src/service/user.service.ts
Due: Build Server

ci: 前端部署配置
  .github/workflows/blog-frontend-deploy.yml
Due: none

ci: 修改前端打包目录
  .github/workflows/blog-frontend-deploy.yml
Due: none

ci: 不需要每次提交都部署
  .github/workflows/blog-backend-deploy.yml
  .github/workflows/blog-frontend-deploy.yml
  server/.vscode/settings.json
  server/src/app.dto.ts
Due: none
